.Message {
    border: 1px solid #ccc;
    display: block;
    background-color: white;
    margin: 10px auto;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    clear: both;

    &.me {
        color: white;
        float: right;
        background-color: #328ec4;
    }
}

.Message-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px; 
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-between;
    font-size: 0.9em;
}

.sender {
    font-weight: bold;
    margin-right: 20px;;
}

.timestamp {
    color: gray; /* Makes the timestamp gray */
}

.content {
    font-size: 1em; /* Ensures content has a standard font size */
}

.vote-buttons {
    display: flex; /* Use flexbox to align items */
    margin-top: 10px;
}

.vote-button {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    padding: 10px 15px;
    font-size: 0.8em;
    flex: 0 0 80px;
}

.vote-button.upvote {
    margin-right: -420px; /* Specific to a button with the 'upvote' class */
}

.vote-button:hover {
    background-color: #0056b3;
    color: #ffffff; 
}